/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* VARIABLES */
:root {
  --bg-color: #f7f9f9;
  --main-color: #20a4f3;
  --secondary-color: #1c92da;
  --light-main-color: #d8effd;
  --text-color1: #312f2f;
  --text-color2: hsl(142, 8%, 45%);

  --hue-color: 230;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(var(--hue-color), 12%, 90%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue-color), 12%, 80%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue-color), 8%, 65%);
}

/* BASIC SETTTINGS */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color2);
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color1);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  max-width: 968px;
  margin: 3rem auto 10rem;
}

button,
.button {
  background-color: var(--main-color);
  outline: none;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 1.1rem 1rem;
  border: none;
  color: var(--bg-color);
  display: inline-block;
}

button a {
  color: var(--bg-color);
}

button:hover,
.button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* NAVIGATION MENU */
header {
  width: 100%;
  height: 4rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  background-color: var(--bg-color);
}

.navbar {
  position: fixed;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 968px;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li {
  margin: 0 0.9rem;
}

.logo {
  font-weight: 500;
  font-size: 1.3rem;
}

.navbar ul li a:hover {
  color: var(--main-color);
  transition: 0.3s;
}

.header-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.toggle-menu {
  display: none;
}

/*section*/
.section {
  padding-top: 4rem;
  position: relative;
}

.section::before {
  content: "";
  display: block;
  height: 4rem;
  margin-top: -4rem;
}

#welcome-section {
  min-height: 100vh;
  margin-top: -3rem;
}

#welcome-section img {
  border-radius: 40px;
}

.welcome-section-content {
  padding-top: 10vh;
  display: flex;
  height: fit-content;
}

.intro {
  font-size: 3rem;
}

.contacts-flexbox {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: center;
}

.contacts-flexbox a {
  font-size: 1.7rem;
  color: var(--main-color);
  width: fit-content;
  margin-bottom: 10px;
}

.contacts-flexbox a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

.title-flexbox {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  gap: 30px;
}

.img-flexbox {
  width: 35%;
  text-align: right;
}

.cv-button {
  max-width: 11rem;
}

.scroll-button {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-button:hover {
  color: var(--secondary-color);
  transform: translateX(-50%) translateY(-6px);
}

#projects {
  padding-top: 6rem;
}

#projects h1 {
  font-size: 2.2rem;
}

#projects p {
  font-size: 0.8rem;
}

#projects .section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.grid-item h2 {
  text-align: center;
  margin-top: 10px;
}

.grid-container img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 30px;
}

#projects button {
  padding: 0.7rem;
  font-size: 0.8rem;
}

.grid-item:hover h2::before {
  content: "<";
  margin-left: -18px;
  position: absolute;
  color: var(--main-color);
}

.grid-item:hover h2::after {
  content: "/>";
  margin-left: 8px;
  position: absolute;
  color: var(--main-color);
}

#contact-section {
  padding-top: 6rem;
}

#contact-section .section-title {
  text-align: center;
  margin-bottom: 4rem;
}

#contact-section .section-title h1 {
  font-size: 2.2rem;
}

#contact-section .section-title p {
  font-size: 0.8rem;
}

.form-container {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.contacts {
  margin-right: 7rem;
}

.form-container .contacts h3 {
  font-weight: 500;
}

.form-container .contacts i {
  color: var(--main-color);
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.form-container .contacts p {
  margin-bottom: 15px;
  font-size: 1rem;
}

form label {
  position: absolute;
  color: var(--text-color1);
  margin-left: 0.8rem;
  margin-top: 10px;
  font-size: 0.9rem;
}

.email-label {
  margin-left: 2rem;
}

textarea {
  min-width: 100%;
  max-width: min-content;
  min-height: 220px;
}

textarea,
input {
  padding: 2.2rem 0.9rem 0.9rem;
  margin-bottom: 1.3rem;
  border: none;
  outline: none;
  background-color: var(--light-main-color);
  color: var(--text-color2);
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

input {
  width: 200px;
}

input[type="email"] {
  margin-left: 1.2rem;
}

.form button {
  font-size: 1rem;
}

footer {
  background-color: var(--main-color);
  min-height: 250px;
  position: relative;
  bottom: 0;
  padding-top: 3rem;
  margin: 0;
  width: 100%;
}

.footer-container {
  max-width: 720px;
  margin: 0 auto;
}

.footer-container h1,
.footer-container i,
.footer-container a {
  color: var(--bg-color);
  font-size: 1.2rem;
}

.footer-container h1 {
  font-size: 2.5rem;
}

.footer-container i {
  font-size: 1.5rem;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.footer-nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
}

.footer-nav ul li a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.copyright {
  text-align: center;
  margin-top: 80px;
  font-size: 0.9rem;
  color: var(--text-color2);
}

.active {
  color: var(--main-color);
}

@media only screen and (max-width: 1100px) {
  .navbar {
    justify-content: flex-start;
    padding-left: 1.5rem;
    gap: 30px;
  }

  .welcome-section-content {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 20px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .form-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 954px) {
  .contacts-flexbox {
    align-items: flex-end;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 826px) {
  .navbar ul {
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 100%;
    position: absolute;
    top: 3.9rem;
    left: 0;
    padding: 0.7rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .hidden {
    display: none;
  }

  .navbar ul li {
    text-align: center;
    padding: 10px 0;
  }

  .navbar ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  .toggle-menu {
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--text-color1);
    position: absolute;
    right: 1rem;
    display: unset;
  }

  .welcome-section-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .title-flexbox {
    width: auto;
    order: 1;
  }

  .contacts-flexbox {
    width: auto;
    padding: 0;
  }

  .img-flexbox {
    width: 200px;
  }

  .scroll-button {
    display: none;
  }

  .contacts {
    margin-right: 2rem;
  }

  .grid-container {
    width: 700px;
  }

  .footer-nav {
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 721px) {
  .img-flexbox {
    width: 150px;
  }

  .grid-container {
    width: 580px;
  }

  .grid-container img {
    height: 200px;
  }

  .contacts {
    margin-right: 2rem;
  }

  .form {
    width: 300px;
  }

  input,
  textarea {
    width: 100%;
  }

  input[type="email"] {
    margin-left: unset;
  }

  .email-label {
    margin-left: 0.8rem;
  }
}

@media only screen and (max-width: 601px) {
  .grid-container {
    grid-template-columns: 1fr;
    max-width: 400px;
    width: fit-content;
    grid-gap: 3rem;
  }

  .grid-container img {
    height: 250px;
  }

  .contacts {
    margin: 0;
  }

  .form-container {
    flex-direction: column;
    width: auto;
    text-align: center;
  }

  .form {
    align-self: center;
  }

  .footer-nav {
    flex-wrap: wrap;
  }
}
